.formContainer {
  background-color: #25d366;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formWrapper {
  background-color: #fff;
  padding: 2rem 6rem;
  border-radius: 9px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  color: #199f4a;
  font-weight: 500;
  font-size: 2.6rem;
}

.title {
  color: #199f4a;
  font-weight: 400;
  font-size: 1.6rem;
  margin: 1rem 0;
}

.formWrapper form {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

form input {
  padding: 1.2rem 1.2rem 0.6rem 1.2rem;
  border: none;
  width: 25rem;
  box-shadow: 0 1px 0 0 #199f4a;
  /* border-bottom: 1px solid #199f4a; */
  outline: none;
  transition: all 0.3s;
}

form input:focus {
  /* border-bottom: 1px #199f4a; */
  box-shadow: 0 3px 0 0 #199f4a;
}

form input:focus:hover {
  box-shadow: 0 3px 0 0 #199f4a;
}

form input:hover {
  box-shadow: 0 2px 0 0 #199f4a;
}

form input::placeholder {
  color: rgb(175, 175, 175);
}

.button {
  border: none;
  background-color: #199f4a;
  padding: 1.2rem;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 700;
  cursor: pointer;
}

.label {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #199f4a;
  font-size: 1.2rem;
  cursor: pointer;
}

.label img {
  width: 3.2rem;
}

.p {
  color: #777;
  font-size: 1.2rem;
  margin-top: 1rem;
}
